.videodetail{
    display: flex;
}
.products_wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px;
    height: 100vh;
    min-width: 15vw;
    overflow-y: scroll;
    background-color: rgb(18, 18, 18);
}

.products_wrapper a{
    text-decoration: none;
}

.products_wrapper::-webkit-scrollbar {
    width: 10px;
}

.products_wrapper::-webkit-scrollbar-thumb {
    background: #555; 
}

.products_wrapper::-webkit-scrollbar-thumb:hover {
    background: #393939; 
}

.main{
    position: relative;
    height: 100vh;
    min-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right{
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    right: 10px;
    color: white;
}

.back_button{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.back_butto a{
    color: white;
}

.right img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 10px;
}

.title{
    border: 2px solid white;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.comments_wrapper{
    height: 100vh;
    min-width: 15vw;
    background-color: rgb(18, 18, 18);
}

.list_comments{
    position: relative;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.comments{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

/* .username{
    position: relative;
    height: 100%;
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-right: 15px;
    display: flex;
    align-items: center;
    border: 2px solid white;
} */

.comment{
    position: relative;
    height: 100%;
    font-size: 12px;
    color: grey;
}

.comment span{
    font-weight: bold;
    font-size: 14px;
    color: white;
    margin-right: 10px;
}

.list_comments::-webkit-scrollbar {
    width: 10px;
}

.list_comments::-webkit-scrollbar-thumb {
    background: #555; 
}

.list_comments::-webkit-scrollbar-thumb:hover {
    background: #393939; 
}

.input_comment{
    position: relative;
    height: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid white;
}

.input_comment input[type='text']{
    position: relative;;
    width: 100%;
    height: 30px;
    padding: 10px;
    margin-bottom: 12px;
    color: white;
    background-color: #393939;
}

.input_comment input[type='submit']{
    font-weight: bold;
    padding: 5px 10px;
}